<a href="https://colab.research.google.com/github/ninivehelen/Analise_De_Dados/blob/master/Exercicio_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercicio API**

**Artista top 1 mais ouvido na  Espanha**

In [ ]:
pip install jason

Collecting jason
  Downloading jason-0.1.7.tar.gz (2.4 kB)
Building wheels for collected packages: jason
  Building wheel for jason (setup.py) ... done
  Created wheel for jason: filename=jason-0.1.7-py3-none-any.whl size=2636 sha256=ad0e57cc63a1c26554dc7916394d57c80ccbbcdec7d2a1cbcd4f77750a263d21
  Stored in directory: /root/.cache/pip/wheels/1a/5d/55/8051c6e467334036591b7c685a996d635e2cd3620cd52557d1
Successfully built jason
Installing collected packages: jason
Successfully installed jason-0.1.7

**Importando bibliotecas**

In [ ]:
import json 
import requests 
import pandas as pd

**#Fazendo requisição na pagina**
**# Criando o dataFrame dos artistas mais ouvidos na espanha**

In [ ]:
url = "http://ws.audioscrobbler.com/2.0/?method=geo.gettopartists&country=spain&api_key=........&format=json"
data = requests.get(url).text
data = json.loads(data)
print(type(data))
artist_name = [] # lista para adicionar o nome dos artistas
artist_listeners = [] # lista para adicionar o numero de vezes que foi ouvido
for i in data['topartists']['artist']: # For para conseguir a lista de todos os artistas top espanha
    artist_name.append(i['name'])  # Adicionando a lista
    artist_listeners.append(int(i['listeners'])) # Adicionando a lista

df = pd.DataFrame({'name': artist_name, 'listeners': artist_listeners})   # Criando dataframe
df.sort_values(by='listeners', ascending=False).head(5) # Ordenando em ordem crescente # Mostrando apenas os 5 primeiros já que a lista é grande

<class 'dict'>

                     name  listeners
3                Coldplay    6107775
33                Rihanna    5307979
1               Radiohead    5283562
10  Red Hot Chili Peppers    5086580
26            The Killers    4931183