<a href="https://colab.research.google.com/github/ninivehelen/Analise_De_Dados/blob/master/ocupa%C3%A7%C3%A3o_Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Analisando dados sobre internações da covid**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [81]:
import matplotlib.pyplot as plt

In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
dados = pd.read_csv("/content/drive/MyDrive/esus-vepi.LeitoOcupacao.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dados.head(3)

          _id  ...               _updated_at
0  p5Ez41Zu6B  ...  2020-04-16T13:56:13.656Z
1  eUOMsSt7T7  ...  2020-08-01T20:08:13.116Z
2  QaG4oIBrMa  ...  2020-08-01T20:02:12.729Z

[3 rows x 21 columns]

**Dados soma total de confirmados em clinicas**`

In [71]:
dados[["estado", "ocupacaoConfirmadoCli"]].groupby(["estado"]).count().head(50).sort_values(by="ocupacaoConfirmadoCli",ascending=False)

                     ocupacaoConfirmadoCli
estado
São Paulo                           207580
Minas Gerais                        136705
Rio Grande do Sul                    92107
Goiás                                78180
Rio de Janeiro                       52048
Pernambuco                           45292
Paraná                               42957
Mato Grosso                          37682
Santa Catarina                       36167
Mato Grosso do Sul                   31606
Bahia                                28215
Ceará                                24701
Maranhão                             17786
Amazonas                             16986
Rio Grande do Norte                  15001
Pará                                 12542
Piauí                                12223
Espírito Santo                       11025
Tocantins                             9164
Rondônia                              7824
Alagoas                               7243
Paraíba                               6651
Sergipe                               5573
Distrito Federal                      5354
GOIAS                                 1431
Amapá                                 1223
Acre                                   932
Roraima                                783

**Dados dos Estados. Soma total de confirmados em UTI**

In [12]:
dados[["estado", "ocupacaoConfirmadoUti"]].groupby(["estado"]).count().head(50).sort_values(by="ocupacaoConfirmadoUti",ascending=False)

                     ocupacaoConfirmadoUti
estado
São Paulo                           207580
Minas Gerais                        136705
Rio Grande do Sul                    92107
Goiás                                78180
Rio de Janeiro                       52048
Pernambuco                           45292
Paraná                               42957
Mato Grosso                          37682
Santa Catarina                       36167
Mato Grosso do Sul                   31606
Bahia                                28215
Ceará                                24701
Maranhão                             17786
Amazonas                             16986
Rio Grande do Norte                  15001
Pará                                 12542
Piauí                                12223
Espírito Santo                       11025
Tocantins                             9164
Rondônia                              7824
Alagoas                               7243
Paraíba                               6651
Sergipe                               5573
Distrito Federal                      5354
GOIAS                                 1431
Amapá                                 1223
Acre                                   932
Roraima                                783

**Dados dos Municípios. Soma total de confirmados em Clinicas**

In [72]:
dados[["municipio", "ocupacaoConfirmadoCli"]].groupby(["municipio"]).count().head(50).sort_values(by="ocupacaoConfirmadoCli",ascending=False)

                       ocupacaoConfirmadoCli
municipio
Acreúna                                  849
Adamantina                               799
Afrânio                                  468
Aiuruoca                                 441
Afogados da Ingazeira                    397
Aimorés                                  374
Aceguá                                   281
Ajuricaba                                281
Alagoinhas                               252
Agudo                                    220
Agrestina                                209
Afonso Cláudio                           204
Alagoinha                                131
Abaré                                     96
Acopiara                                  93
Agudos                                    80
Abreu e Lima                              71
Acarape                                   69
Abadia de Goiás                           67
AQUIDAUANA                                47
APARECIDA DE GOIANIA                      36
AMAMBAI                                   30
ANAPOLIS                                  29
ALCINOPOLIS                               28
ANAURILANDIA                              26
ANGELICA                                  25
ANTONIO JOAO                              25
ANASTACIO                                 22
AGUA CLARA                                21
APARECIDA DO TABOADO                      21
ARAL MOREIRA                              14
ACREUNA                                    8
Acrelândia                                 8
ARUANA                                     6
ARAGUAPAZ                                  6
ANICUNS                                    6
AMERICANO DO BRASIL                        6
ALOANDIA                                   6
AGUAS LINDAS DE GOIAS                      6
Acorizal                                   5
ARACU                                      5
AVELINOPOLIS                               4
ARAGOIANIA                                 4
AMORINOPOLIS                               4
ALVORADA DO NORTE                          4
ABADIA DE GOIAS                            4
ALEXANIA                                   3
Acaraú                                     2
ARAGARCAS                                  1
Aiuaba                                     1

**Dados dos Municípios. Soma total de confirmados em UTI**

In [73]:
dados[["municipio", "ocupacaoConfirmadoUti"]].groupby(["municipio"]).count().head(50).sort_values(by="ocupacaoConfirmadoUti",ascending=False)

                       ocupacaoConfirmadoUti
municipio
Acreúna                                  849
Adamantina                               799
Afrânio                                  468
Aiuruoca                                 441
Afogados da Ingazeira                    397
Aimorés                                  374
Aceguá                                   281
Ajuricaba                                281
Alagoinhas                               252
Agudo                                    220
Agrestina                                209
Afonso Cláudio                           204
Alagoinha                                131
Abaré                                     96
Acopiara                                  93
Agudos                                    80
Abreu e Lima                              71
Acarape                                   69
Abadia de Goiás                           67
AQUIDAUANA                                47
APARECIDA DE GOIANIA                      36
AMAMBAI                                   30
ANAPOLIS                                  29
ALCINOPOLIS                               28
ANAURILANDIA                              26
ANGELICA                                  25
ANTONIO JOAO                              25
ANASTACIO                                 22
AGUA CLARA                                21
APARECIDA DO TABOADO                      21
ARAL MOREIRA                              14
ACREUNA                                    8
Acrelândia                                 8
ARUANA                                     6
ARAGUAPAZ                                  6
ANICUNS                                    6
AMERICANO DO BRASIL                        6
ALOANDIA                                   6
AGUAS LINDAS DE GOIAS                      6
Acorizal                                   5
ARACU                                      5
AVELINOPOLIS                               4
ARAGOIANIA                                 4
AMORINOPOLIS                               4
ALVORADA DO NORTE                          4
ABADIA DE GOIAS                            4
ALEXANIA                                   3
Acaraú                                     2
ARAGARCAS                                  1
Aiuaba                                     1

**Dados dos Estado. Soma total de alta em Clinicas**

In [16]:
dados[["estado", "saidaConfirmadaAltas"]].groupby(["estado"]).count().sort_values(by='saidaConfirmadaAltas',ascending=False)

                     saidaConfirmadaAltas
estado
São Paulo                          233634
Minas Gerais                       137161
Rio Grande do Sul                   92107
Goiás                               89991
Rio de Janeiro                      52047
Pernambuco                          45292
Paraná                              43067
Mato Grosso                         37682
Santa Catarina                      36167
Mato Grosso do Sul                  33013
Bahia                               28215
Ceará                               24695
Maranhão                            17786
Amazonas                            16981
Rio Grande do Norte                 15001
Pará                                12542
Piauí                               12223
Espírito Santo                      11026
Tocantins                            9164
Rondônia                             7824
Alagoas                              7243
Paraíba                              6651
Sergipe                              5573
Distrito Federal                     5354
GOIAS                                1431
Amapá                                1223
Acre                                  932
Roraima                               783

**Dados dos Municípios. Soma total de alta em Uti**

In [19]:
dados[["municipio", "saidaConfirmadaAltas"]].groupby(["municipio"]).count().head(50).sort_values(by='saidaConfirmadaAltas',ascending=False)

                       saidaConfirmadaAltas
municipio
Acreúna                                 911
Adamantina                              853
Afrânio                                 468
Aiuruoca                                441
Afogados da Ingazeira                   397
Aimorés                                 374
Aceguá                                  281
Ajuricaba                               281
Alagoinhas                              252
Agudo                                   220
Agrestina                               209
Afonso Cláudio                          204
Alagoinha                               131
Abaré                                    96
Acopiara                                 93
Agudos                                   88
Abadia de Goiás                          81
Abreu e Lima                             71
Acarape                                  69
AQUIDAUANA                               47
APARECIDA DE GOIANIA                     36
AMAMBAI                                  30
ANAPOLIS                                 29
ALCINOPOLIS                              28
ANAURILANDIA                             26
ANGELICA                                 25
ANTONIO JOAO                             25
ANASTACIO                                22
AGUA CLARA                               21
APARECIDA DO TABOADO                     21
ARAL MOREIRA                             14
ACREUNA                                   8
Acrelândia                                8
ARUANA                                    6
ARAGUAPAZ                                 6
ANICUNS                                   6
AMERICANO DO BRASIL                       6
ALOANDIA                                  6
AGUAS LINDAS DE GOIAS                     6
Acorizal                                  5
ARACU                                     5
AVELINOPOLIS                              4
ARAGOIANIA                                4
AMORINOPOLIS                              4
ALVORADA DO NORTE                         4
ABADIA DE GOIAS                           4
ALEXANIA                                  3
Acaraú                                    2
ARAGARCAS                                 1
Aiuaba                                    1

**Dados dos Estados. Soma total de Obitos**

In [15]:
dados[["estado", "saidaConfirmadaObitos"]].groupby(["estado"]).count().head(50).sort_values(by="saidaConfirmadaObitos",ascending=False)

                     saidaConfirmadaObitos
estado
São Paulo                           233634
Minas Gerais                        137161
Rio Grande do Sul                    92107
Goiás                                89991
Rio de Janeiro                       52048
Pernambuco                           45292
Paraná                               43067
Mato Grosso                          37682
Santa Catarina                       36167
Mato Grosso do Sul                   33013
Bahia                                28215
Ceará                                24695
Maranhão                             17786
Amazonas                             16981
Rio Grande do Norte                  15001
Pará                                 12542
Piauí                                12223
Espírito Santo                       11026
Tocantins                             9164
Rondônia                              7824
Alagoas                               7243
Paraíba                               6651
Sergipe                               5573
Distrito Federal                      5354
GOIAS                                 1431
Amapá                                 1223
Acre                                   932
Roraima                                783

**Dados dos Municípios. Soma total de Obitos**

In [ ]:
dados[["municipio", "saidaConfirmadaObitos"]].groupby(["municipio"]).count().head(50).sort_values(by="saidaConfirmadaObitos",ascending=False)

                       saidaConfirmadaObitos
municipio
Acreúna                                  911
Adamantina                               853
Afrânio                                  468
Aiuruoca                                 441
Afogados da Ingazeira                    397
Aimorés                                  374
Aceguá                                   281
Ajuricaba                                281
Alagoinhas                               252
Agudo                                    220
Agrestina                                209
Afonso Cláudio                           204
Alagoinha                                131
Abaré                                     96
Acopiara                                  93
Agudos                                    88
Abadia de Goiás                           81
Abreu e Lima                              71
Acarape                                   69
AQUIDAUANA                                47
APARECIDA DE GOIANIA                      36
AMAMBAI                                   30
ANAPOLIS                                  29
ALCINOPOLIS                               28
ANAURILANDIA                              26
ANGELICA                                  25
ANTONIO JOAO                              25
ANASTACIO                                 22
AGUA CLARA                                21
APARECIDA DO TABOADO                      21
ARAL MOREIRA                              14
ACREUNA                                    8
Acrelândia                                 8
ARUANA                                     6
ARAGUAPAZ                                  6
ANICUNS                                    6
AMERICANO DO BRASIL                        6
ALOANDIA                                   6
AGUAS LINDAS DE GOIAS                      6
Acorizal                                   5
ARACU                                      5
AVELINOPOLIS                               4
ARAGOIANIA                                 4
AMORINOPOLIS                               4
ALVORADA DO NORTE                          4
ABADIA DE GOIAS                            4
ALEXANIA                                   3
Acaraú                                     2
ARAGARCAS                                  1
Aiuaba                                     1

**Selecionados dados apenas do Estado do Goías**

In [49]:
dados_goias = dados.loc[dados['estado'] == 'GOIAS']

In [50]:
dados_goias.head()

              _id  ...               _updated_at
91612  cCbMcuUqrC  ...  2020-06-26T08:23:08.157Z
91613  9Ef4LzoiDM  ...  2020-06-26T08:23:08.181Z
91614  eFdRuXEfqs  ...  2020-06-26T08:23:08.209Z
91615  Zzxh0cptBo  ...  2020-06-26T08:23:08.245Z
91616  dQTsYYiEqB  ...  2020-06-26T08:23:08.270Z

[5 rows x 21 columns]

**Soma de obitos total por Município no Estado do Goias**

In [51]:
dados_goias[["municipio", "saidaConfirmadaObitos"]].groupby(["municipio"]).count().head(50).sort_values(by="saidaConfirmadaObitos",ascending=False)

                       saidaConfirmadaObitos
municipio
APARECIDA DE GOIANIA                      36
ANAPOLIS                                  29
CALDAS NOVAS                              20
CERES                                     16
CATALAO                                   16
CRISTALINA                                12
CRIXAS                                    11
ACREUNA                                    8
AMERICANO DO BRASIL                        6
ALOANDIA                                   6
CARMO DO RIO VERDE                         6
ANICUNS                                    6
AGUAS LINDAS DE GOIAS                      6
BRITANIA                                   6
CORUMBA DE GOIAS                           6
CACU                                       6
ARAGUAPAZ                                  6
ARUANA                                     6
CAMPO ALEGRE DE GOIAS                      6
CACHOEIRA DOURADA                          6
CASTELANDIA                                5
CATURAI                                    5
CAMPINACU                                  5
BRAZABRANTES                               5
BOM JESUS DE GOIAS                         5
BELA VISTA DE GOIAS                        5
ARACU                                      5
CHAPADAO DO CEU                            4
CORREGO DO OURO                            4
CORUMBAIBA                                 4
CRISTIANOPOLIS                             4
COCALZINHO DE GOIAS                        4
ABADIA DE GOIAS                            4
AVELINOPOLIS                               4
CAMPESTRE DE GOIAS                         4
BURITI DE GOIAS                            4
ALVORADA DO NORTE                          4
BONFINOPOLIS                               4
AMORINOPOLIS                               4
ARAGOIANIA                                 4
BALIZA                                     3
ALEXANIA                                   3
CACHOEIRA ALTA                             3
BURITI ALEGRE                              3
CAIAPONIA                                  2
CAMPINORTE                                 2
COLINAS DO SUL                             1
CAMPOS BELOS                               1
ARAGARCAS                                  1
CEZARINA                                   1

**Selecionados dados apenas do Estado do Amazonas**

In [62]:
dados_amazonas = dados.loc[dados['estado'] == 'Amazonas']

In [63]:
dados_amazonas.head()

             _id  ...               _updated_at
225   oWTPgdbC2U  ...  2020-08-01T20:01:58.194Z
1006  DFGLvG1755  ...  2021-03-25T16:43:00.038Z
1104  aiNkDYYeV5  ...  2020-08-01T19:53:54.001Z
1312  lCeLjF5ZcM  ...  2021-03-25T16:42:34.314Z
1755  5Xf71TBE5G  ...  2020-08-01T19:45:49.069Z

[5 rows x 21 columns]

**Soma de obitos total por Município no Estado do Amazonas**

In [64]:
dados_amazonas[["municipio", "saidaConfirmadaObitos"]].groupby(["municipio"]).count().head(50).sort_values(by="saidaConfirmadaObitos",ascending=False)

                          saidaConfirmadaObitos
municipio
Manaus                                    10556
Tabatinga                                   583
Carauari                                    468
Manacapuru                                  460
São Paulo de Olivença                       441
Itacoatiara                                 408
Humaitá                                     392
Manicoré                                    366
Iranduba                                    333
Canutama                                    324
Nhamundá                                    307
Boca do Acre                                275
Pauini                                      234
Tefé                                        204
Guajará                                     181
Ipixuna                                     173
São Sebastião do Uatumã                     159
Borba                                       145
Envira                                      135
Atalaia do Norte                            122
Coari                                       106
Benjamin Constant                           106
São Gabriel da Cachoeira                     99
Tapauá                                       90
Santo Antônio do Içá                         83
Barcelos                                     77
Uarini                                       46
Lábrea                                       35
Urucurituba                                  29
Amaturá                                      23
Itapiranga                                   19
Caapiranga                                    1
Urucará                                       1

In [93]:
dados["saidaConfirmadaAltas"].count()

984809

**Soma dos Municípios total de Obitos**

In [34]:
dados["saidaConfirmadaObitos"].count()

984810

**Média dos Estados total de altas**

In [35]:
dados["saidaConfirmadaAltas"].mean()

1.8951429607162404

**Média dos Estados total de Obitos**

In [38]:
dados["saidaConfirmadaObitos"].mean()

0.5799941105390888