<a href="https://colab.research.google.com/github/ninivehelen/Analise_De_Dados/blob/master/sql_no_pandas_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**instalando pacote pandassql**

In [ ]:
 pip install -U pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.26)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=360a27f5489040db0b9ed82606fdd159859510527cb29c366163058fad9cbd0e
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

**Função**

In [ ]:
import pandas 

import pandasql

def aggregate_query(filename):
  
  
  aadhaar_data = pandas.read_csv(filename)
  colunas = []
  for i in aadhaar_data.columns:
    nova_coluna = i.lower().replace(' ', '_')
    colunas.append(nova_coluna)
     
  aadhaar_data.columns = colunas

  q = """
  select gender, district, SUM(aadhaar_generated)
  from aadhaar_data
  where age>50 
  group by gender, district 

  """

  aadhaar_solution = pandasql.sqldf(q.lower(), locals())
  return aadhaar_solution

In [ ]:
aggregate_query('/content/aadhaar-data.csv')

    gender        district  sum(aadhaar_generated)
0        F      Ahmadnagar                      45
1        F     Ahmed Nagar                       0
2        F       Ahmedabad                       1
3        F           Ajmer                      27
4        F           Akola                       5
..     ...             ...                     ...
523      M  West Singhbhum                     227
524      M    West Tripura                      24
525      M          Yadgir                      12
526      M    Yamuna Nagar                     149
527      M        Yavatmal                      54

[528 rows x 3 columns]